/* paleta de colores root */

:root {
    /* Colores primarios */
    --color-primero: #000;  
    --color-segundo: #4682B4; 
    
    /* Colores de texto */
    --color-text-primero: #ffffff;  
    --color-text-segundo: #fbff00;
    --color-text-tercero: #000000;

    /* fuente para titulos */
    --fuente-primaria: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* Cfuente para textos*/
    --fuente-secundaria: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


/* ajuste general de la web */

* {
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
    scroll-behavior: smooth;
}



/* modificacion en el body */


body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}



/* barra de navegacion */



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 40px; 
    border-bottom: 50px;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    transition: background-color 0.3s ease;
} 

.navbar.scrolled {
    background-color: #000000;
}

/* Estilos para el logo dentro del navbar */



.container__logo {
    flex: 0 0 auto;
}



.container__logo img {
    max-height: 60px;
}




/* Estilos para el menú del navbar */



.navbar-menu {
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}



.navbar-menu li {
    margin-left: 20px;
}




.navbar-menu a {
    text-decoration: none;
    color: white; 
    font-size: 15px; 
    font-weight: bold;
    letter-spacing: 1px;
    font-family: var(--fuente-primaria);
}



.navbar-menu a:hover {
    color: #ecfd00;
    transition: all 0.5s ease; 
}





/* Estilos para el contenedor seccion 1*/


.banner {
    padding-top: 80px; 
    padding: 20px;;
    min-height: 100vh;
    background-image: url(/assets/img/fondo__banner.jpg);
    background-repeat: no-repeat;; 
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-size: cover; 
    background-position: center; 
}


.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    padding-top: 100px;
}



.texto {
    flex: 1;
    padding: 70px;
}



h1 {
    font-size: 50px;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.6));
    letter-spacing: 2px;
    font-family: var(--fuente-primaria);
}

.linea {
    background-color: white;
    height: 2px;
}


.subtitulo {
    font-size: 20px;
    color: #4682B4;
    line-height: 1.6;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.6));
    font-family: var(--fuente-secundaria);
    padding-top: 10px;
}



.imagen img {
    max-width: 100%;
    width: 80%;
    height: auto;
    filter: drop-shadow(0px 40px 8px rgba(0, 0, 0, 0.6));
    cursor: pointer;
    transition: all 0.5s ease;
    min-width: 200px;
}



.imagen img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}


/* Estilos para el contenedor seccion 2*/



.categorias {
    padding: 2em; 
    background: linear-gradient(to bottom, #000000, #1a1a1a);
    min-height: 130vh;
}



.titulo__categorias {
    text-align: center;
    color: yellow;
    font-size: 2rem;
    margin-top: 3em;
    margin-bottom: 3em;
    letter-spacing: 2px;
    font-family: var(--fuente-primaria);
}


.linea-categorias, .linea-productos, .linea-contactos {
    background-color: white;
    height: 2px;
    max-width: 30%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contenedor__categorias {
    max-width: 1200px;
    margin: 0 auto;
}



.grid__categorias {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px)); 
    gap: 2em;
    justify-content: center;
}



.cards {
    padding: 1.5em;
    border: 1px solid #4682B4;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788); 
}




.cards:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788); 
}



.titulo__card {
    padding-top: 10px;
    padding-bottom: 5px;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 25px;
    font-family: var(--fuente-primaria);
}



.icono__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.icono__contenedor i {
    font-size: 6em; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    color: white;
}



.subtitulo__card {
    color: white;
    font-family: var(--fuente-secundaria);
}



/* Estilos para el contenedor seccion 3*/




.productos {
    position: relative;
    padding: 2em; 
    min-height: 210vh;
    background: linear-gradient(to bottom, #000000, #1a1a1a);
}



.titulo__productos {
    text-align: center;
    color: yellow;
    font-size: 2rem;
    margin-top: 3em;
    margin-bottom: 3em;
    letter-spacing: 2px;
    font-family: var(--fuente-primaria);
}



.contenedor__productos {
    max-width: 1200px;
    margin: 0 auto;
}



.grid__productos {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 300px)); 
    gap: 2em;
    justify-content: center;
    align-items: center;
}



.contenedor__productos {
    max-width: 1200px;
    margin: 0 auto;
}



.grid__productos {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 290px)); 
    gap: 5em;
    justify-content: center;
}


.cards-2 {
    padding: 1em;
    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000); 
    border: 3px solid #4682B4;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788); 
}



.cards-2:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788); 
}


.titulo__producto {
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-family: var(--fuente-primaria);
}



.imagen__producto img {
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: cover;
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.6));
}


.descripcion__producto {
    padding-top: 15px;
    color: white;
    font-family: var(--fuente-secundaria);
}



.costo__producto {
    color: yellow;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--fuente-secundaria);
}



.boton__producto {
    margin-top: 15px;
    cursor: pointer;
    padding: 7px;
    background-color: rgb(0, 0, 0);
    border: none;
    min-width: 120px;
    transition: all 0.5s ease;
    border-radius: 2px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788);
    font-family: var(--fuente-secundaria); 
}



.boton__producto:hover {
    background-color: #4682B4;
    transition: all 0.5s ease;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788); 
}




/* Estilos para el contenedor seccion 4*/


.contactos {
    padding: 2em;
    min-height: 120vh;
    background: linear-gradient(to bottom, #000000, #1a1a1a);
    width: 100%;
    margin: 0 auto;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.titulo__contactos {
    text-align: center;
    color: yellow;
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 1em;
    letter-spacing: 2px;
    font-family: var(--fuente-primaria);
}




form {
    background: linear-gradient(to bottom, #000000, #1a1a1a);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin-top: 20px; 
    flex-direction: column; 
    align-items: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788);
    cursor: pointer;
    transition: all 0.5s ease; 
}



form:hover {
    transform: translateY(-10px);
    transition: all 0.5s ease; 
}


.input {
    margin-bottom: 20px;
}



.input label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.6));
    letter-spacing: 1.5px;
    font-family: var(--fuente-primaria);
}



.input input,
.input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #807d7d;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;

}



.input input:focus,
.input textarea:focus {
    outline: none;
}



.input textarea {
    resize: vertical;
}



.input.black-bg input,
.input.black-bg textarea {
    background-color: #000; 
    color: #fff; 
}



button {
    width: 40%;
    padding: 10px 20px;
    background: #ad5389;
    background: -webkit-linear-gradient(to top, #3c1053, #ad5389);  
    background: linear-gradient(to top, #3c1053, #ad5389); 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: block;
    margin: auto;
    transition: all 0.5s ease;
    font-weight: bold;
}



button:hover {
    background: #4682B4;
    transition: all 0.5s ease;
}






/* Estilos para el contenedor footer*/


.footer {
    background-color: #333;
    color: white;
    padding: 50px 0;
    text-align: left;
}



.contenedor__footer {
    max-width: 1200px;
    margin: 0 auto;
}



.titulo__footer {
    padding-bottom: 10px;
    font-weight: bold;
    font-family: var(--fuente-primaria);
}


.contenedor__contact i {
    cursor: pointer;
}



.telefono, .email {
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}



.telefono:hover, .email:hover {
    color: rgb(36, 20, 182);
    transition: all 0.5s ease;
}



.texto-email {
    margin-top: 10px;
}



/* Estilos para el icono de WhatsApp */


#whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00ff5e;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: all 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788);
}



#whatsapp-icon i {
    font-size: 40px;
}


#whatsapp-icon a {
        text-decoration: none;
}


#whatsapp-icon:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788); 
    transition: all 0.5s ease;
    background-color: #0e7935;
}



.whatsapp[title]::after {
    content: attr(title);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: var(--fuente-primaria);
    text-align: center;
}

.whatsapp:hover[title]::after {
    opacity: 1;
}





/* mediaquery responsive*/



/* navbar */

.hamburguesa {
    display: none; 
}


/* hamburguesa */
@media only screen and (max-width: 480px) {
    .navbar-menu {
        display: none;
    }


    .hamburguesa {
        display: block;
        color: white; 
    }

    .hamburguesa i {
        font-size: 30px; 
        cursor: pointer; 
    }
}




/* Banner */

@media only screen and (max-width: 480px) {

    .banner {
        background-size: cover;
        background-position: center; 
        background-color: #f0f0f0; 
    }

    .contenedor {
        flex-direction: column; 
        align-items: center; 
        padding-top: 50px; 
    }

    .texto {
        padding: 20px;
        margin-top: 50px; 
    }

    .imagen {
        width: 100%;
        margin-top: 20px; 
    }
}




/*  categorias */

@media only screen and (max-width: 480px) {
    .grid__categorias {
        grid-template-columns: 1fr; 
        gap: 1em; 
    }

    .linea-categorias, .linea-productos, .linea-contactos {
        background-color: white;
        height: 2px;
        max-width: 70%;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}




/* Productos */

@media only screen and (max-width: 480px) {
    .grid__productos {
            grid-template-columns: 1fr; 
            gap: 1em;
        }
}




/* Footer */


@media only screen and (max-width: 480px) {
    .info__contacto {
        text-align: center; 
    }


    button {
        width: 50%; 
    }

    button i {
        font-size: 20px; 
    }
}


@media only screen and (max-width: 880px) {
    .info__contacto {
        text-align: center; 
    }
}